<nav class="bg-gray-100 py-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex">
      <div>
        <h2 class="h2">Employee Details</h2>
      </div>
    </div>
    <div>
      <input class="search py-2" type="text" />
      <button class="p-2 button">
        <div class="flex px-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            />
          </svg>
          <a href="/reg">
            <h1>Add user</h1>
          </a>
        </div>
      </button>
    </div>
  </div>
</nav>
