<app-nav-bar class="nav"></app-nav-bar>
<div class="bg-gray-100 h-screen">
  <div class="container mx-auto px-16">
    <form
      class="bg-white shadow-lg rounded px-20 pt-6 pb-8 mb-4 border"
      [formGroup]="data"
    >
      <h2 class="text-xl font-semibold mb-6 text-gray-700">
        Employee Payroll Form
      </h2>
      <div class="mb-4 flex items-center">
        <label
          class="block text-gray-700 mr-12 min-w-16 font-semibold text-sm mb-2"
          >Name</label
        >
        <input
          id="name"
          formControlName="employeeName"
          placeholder="name"
          type="text"
          class="border rounded-md px-4 py-2 w-full focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="mb-4 flex items-center">
        <label class="block text-gray-700 min-w-20 font-semibold text-sm mb-2"
          >Profile image</label
        >
        <div class="flex px-6">
          <div class="flex items-center">
            <input
              id="girl"
              formControlName="profileImage"
              value="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCNyLKjQn_3nY4KZO7b2sP0u8yOY0FrdLeRYgcKvp9wQ&s"
              type="checkbox"
            />
            <label
              ><img
                class="image"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCNyLKjQn_3nY4KZO7b2sP0u8yOY0FrdLeRYgcKvp9wQ&s"
            /></label>
          </div>
          <div class="flex items-center px-6">
            <input
              id="boy"
              formControlName="profileImage"
              value="https://www.pngitem.com/pimgs/m/130-1300380_female-user-image-icon-hd-png-download.png"
              type="checkbox"
            />
            <label
              ><img
                class="image"
                src="https://www.pngitem.com/pimgs/m/130-1300380_female-user-image-icon-hd-png-download.png"
            /></label>
          </div>
          <div class="flex items-center">
            <input
              id="girl"
              formControlName="profileImage"
              value="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfU_H0DHUqvRIYYRtTOOFi2o3dC1vEI5RTSoXL_KdzY-LKj1RSb0zKtv9qj9Sy4U_xBX0&usqp=CAU"
              type="checkbox"
            />
            <label
              ><img
                class="image"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfU_H0DHUqvRIYYRtTOOFi2o3dC1vEI5RTSoXL_KdzY-LKj1RSb0zKtv9qj9Sy4U_xBX0&usqp=CAU"
            /></label>
          </div>
          <div class="flex item-center px-6">
            <input
              id="boy"
              formControlName="profileImage"
              value="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQoYalG0iZwdwwSFMhNL4aDADjcSJFcuo31Y9OY6saF8ZG5dq3lLc8uXw0eJfUwvdwjTw&usqp=CAU"
              type="checkbox"
            />
            <label
              ><img
                class="image"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQoYalG0iZwdwwSFMhNL4aDADjcSJFcuo31Y9OY6saF8ZG5dq3lLc8uXw0eJfUwvdwjTw&usqp=CAU"
            /></label>
          </div>
        </div>
      </div>
      <div class="mb-4 flex items-center">
        <label class="block text-gray-700 font-semibold text-sm mb-2 min-w-20"
          >Gender</label
        >

        <div class="px-4">
          <input
            class="px-4"
            id="Male"
            value="Male"
            formControlName="employeeGender"
            type="radio"
          />
          <label>Male</label>
        </div>

        <div class="px-4">
          <input
            class="px-4"
            id="Female"
            value="Female"
            formControlName="employeeGender"
            type="radio"
          />
          <label>Female</label>
        </div>
      </div>
      <div class="mb-4 flex items-center">
        <label
          class="block text-gray-700 min-w-20 font-semibold text-sm mb-2 mr-4"
          >Department</label
        >
        <input
          id="name"
          formControlName="employeeDepartment"
          placeholder="department"
          type="text"
          class="border rounded-md px-4 py-2 w-full focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="mb-4 flex items-center">
        <label
          class="block text-gray-700 min-w-20 font-semibold text-sm mb-2 mr-4"
          >Salary</label
        >
        <input
          id="salary"
          formControlName="employeeSalary"
          placeholder="10,000"
          type="text"
          class="border rounded-md px-4 py-2 w-full focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="mb-4 flex items-center">
        <label
          class="block text-gray-700 min-w-20 font-semibold text-sm mb-2 mr-4"
          >Start Date</label
        >
        <input
          id="date"
          formControlName="startDate"
          type="date"
          class="border rounded-md px-4 py-2 w-full focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="mb-4 flex items-center">
        <label
          class="block text-gray-700 min-w-20 font-semibold text-sm mb-2 mr-4"
          >Notes</label
        >
        <textarea
          id="Notes"
          formControlName="employeeNotes"
          placeholder="note"
          type="text"
          class="border rounded-md px-4 py-2 w-full focus:outline-none focus:shadow-outline"
        ></textarea>
      </div>
      <div class="flex items-center justify-between p-4">
        <button class="bg-gray-400 text-white p-2 px-8 rounded-sm">
          Cancle
        </button>

        <div class="">
          <button
            class="bg-gray-400 text-white p-2 px-8 rounded-sm mr-4"
            (click)="show()"
          >
            submit
          </button>
          <button class="bg-gray-400 text-white p-2 px-8 rounded-sm">
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
