.image {
  width: 26px;
  height: 26px;
  margin-right: 32px;
  border-radius: 50%;
  margin-right: 8px;
}
.submit-button {
  background-color: #e2e2e2;
  border: 1px solid #969696;
  color: black;
  opacity: 1;
}
.cancle-button {
  background-color: #e2e2e2;
  border: 1px solid #969696;
  color: black;
  opacity: 1;
}
.reset-button {
  background-color: #e2e2e2;
  border: 1px solid #969696;
  color: black;
  opacity: 1;
}

.submit-button:hover {
  background-color: #82a70c;
  color: white;
}

.cancle-button:hover {
  background-color: #707070;
  color: white;
}
.reset-button:hover {
  background-color: #707070;
  color: white;
}
